.summary-section {
    margin-bottom: 1.5rem;
}



.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
}

.summary-label {
    font-weight: 600;
    font-size: 1rem; 
}

.summary-value {
    font-weight: 400;
    font-size: 1rem; 
}
.summary-items {
    display: flex;
    margin-bottom: 0.5rem;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-auto-flow: column;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.75rem;
    align-items: flex-start;
}
/* .list-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
} */