.slds-grid {
    margin-bottom: 20px;
}

.slds-col {
    padding: 10px;
}

.slds-box {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.slds-text-heading_medium {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slds-text-heading_small {
    font-size: 14px;
    margin-bottom: 5px;
}

.slds-text-heading_small a {
    color: #0070d2;
    text-decoration: none;
}

.slds-text-heading_small a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }
  
  a {
    color: #0070d2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }